body{
  display: flex;
background:#68a4ff;
justify-content: center;
align-items: center;

}

.clock{
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
margin-top: 10%;
  background: #fff url(image/clock2.png);
  background-size: cover;
  border: 15px solid #edeae5;
  position: relative;



}
.clock::before {
 content: " ";
 position: absolute;
 height: 15px;
 width: 15px;
 border-radius: 50%;
 justify-content: center;
 align-items: center;
 background-color: #aab5c6;
 z-index: 100000;
}
.hours, .minutes, .seconds{
    display: flex;
    justify-content: center;
    position: absolute;
}
.hours {
  width: 7px;
  height: 107px;
  background: #ff105e;
  top: 23%;
  border-radius: 4px;
  z-index: 30;
  transform-origin: bottom;
}

.minutes {
  width: 5px;
  height: 143px;
  background: #17a2b8;
  top: 13.9%;
  border-radius: 4px;
  z-index: 29;
  transform-origin: bottom;
}

.seconds {
  width: 3px;
  height: 160px;
  background: red;
  top: 10%;
  border-radius: 4px;
  z-index: 28;
  transform-origin: bottom;
}
.indicator div{
  position: absolute;
  width: 3px;
  height: 17px;
  border-radius: 9%;
  z-index: 27;
  background: #002b55;

}
.indicator div:nth-child(1) {
  transform: rotate(30deg) translateY(-198.5px);
}
.indicator div:nth-child(2) {
  transform: rotate(60deg) translateY(-193.5px);
}
.indicator div:nth-child(3) {
  transform: rotate(30deg) translateY(-198.5px);
}
.indicator div:nth-child(4) {
  transform: rotate(90deg) translateY(-190.5px);
  background: #ff105e;
}
.indicator div:nth-child(5) {
  transform: rotate(120deg) translateY(-186.5px);
}
.indicator div:nth-child(6) {
  transform: rotate(150deg) translateY(-184.5px);
}
.indicator div:nth-child(7) {
  transform: rotate(180deg) translateY(-184.5px);
    background: #ff105e;
}
.indicator div:nth-child(8) {
  transform: rotate(210deg) translateY(-186.5px);
}
.indicator div:nth-child(9) {
  transform: rotate(240deg) translateY(-190.5px);
}
.indicator div:nth-child(10) {
  transform: rotate(270deg) translateY(-193.5px);
    background: #ff105e;
}
.indicator div:nth-child(11) {
  transform: rotate(300deg) translateY(-198px);
}
.indicator div:nth-child(12) {
  transform: rotate(330deg) translateY(-200.5px);
}
.indicator div:nth-child(13) {
  transform: rotate(360deg) translateY(-201.5px);
  background:#ff105e;
}
